<div class="track-box col-xs-12 col-sm-12 col-md-12">
        <a href="/tracks/machine-learning">
                <div class="h-100 w-100 box-shadow hvr-float" style="background: white; border-left: #008000 12px solid;">
                        <div class="track-image-box col-5 d-none d-md-block float-left"
                                style="background-image: url(/static/comprehensive/images/machine-learning-icon.png);">
                        </div>
                        <div
                                class="track-description-box col-md-7 col-xs-12 parent text-center text-md-left text-lg-left float-right p-0 h-100">
                                <div class="track-title-box mb-2">
                                        <p class="track-title">Professional Certificate in Machine Learning for IR4.0</p>
                                </div>
                                <div>
                                        <p class="track-description">Validate and deploy machine learning models to drive game-changing business strategies.
                                        </p>
                                </div>
                        </div>
                </div>
        </a>
</div>
