<div class="track-box col-xs-12 col-sm-12 col-md-12 mb-4 h-100">
        <a href="/tracks/cloud-street">
                <div class="h-100 w-100 box-shadow hvr-float" style="background: white; border-left: #00a3ff 12px solid;">
                        <div class="track-image-box col-5 d-none d-md-block float-left"
                                style="background-image: url(https://i.imgur.com/vjx1Xr6.png);">
                        </div>
                        <div
                                class="track-description-box col-md-7 col-xs-12 parent text-center text-md-left text-lg-left float-right p-0 h-100">
                                <div class="track-title-box mb-2">
                                        <p class="track-title">Data Services for Modern Data Warehouse Architecture</p>
                                </div>
                                <div>
                                        <p class="track-description">Practical lab on how Azure Data Services can be used to implemented a modern data warehouse architecture.
                                        </p>
                                </div>
                        </div>
                </div>
        </a>
</div>
